// imports

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "_vars";
@import "_comon";
@import "_mixins";

.imgCV {
  width: $imgMd;
}

//INFO
.info {
  @include boxing(2rem, 450px);
  gap: 2rem;
  display: grid;
  grid-template-columns: 40% 40%;
}

.nombre {
}

.profe {
  margin-bottom: 5px;
  font-size: $texto1;
  font-weight: $textLight;
}

.ubicacion {
  display: flex;
}

.ubi {
  text-align: right;
  vertical-align: middle;
  margin-left: $espacio10;
  font-style: $textItali;
  font-size: $texto2;
}

.desc {
  padding: $espacio20;
  font-size: $titulo3;
  font-weight: $textRegular;
  text-align: $textoCenter;
}

.cont {
  display: grid;
  align-items: $textoCenter;
  padding: $espacio20;
  grid-template-columns: 20% 30%;
  gap: -10px;
  margin-right: -10px;
}

.iconos {
  gap: $espacio10;
}

.email {
  display: flex;
  padding: $espacio20;
  gap: $espacio10;
  text-align: $textoLef;
  vertical-align: middle;
  line-height: 25px;
}

// Section proyecto

#proyecto {
  background-color: $colorB;
  @include boxing(2rem, 860px);
  margin: 1rem;
}

.titu {
  text-align: $textoCenter;
  font-size: $titulo1;
  margin-bottom: $espacio10;
}

.cont2 {
  text-align: justify;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 30px;
  padding: 10px;
  font-size: $texto2;
}

.proy1 {
  @include proy(1rem, 350px, $colorS);
  display: flex;
  flex-direction: column;
}

.imgProy {
  margin-bottom: 15px;
  height: 100px;
}

//sectiontecno
#tecno {
  @include boxing(2rem, 550px);
  background-color: $colorA;
  margin: 1rem;
}
