// imports

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "_vars";
@import "_comon";
@import "_mixins";

.imgCV {
  width: $imgMd;
}

//INFO
.info {
  @include boxing(3rem, 420px);
  gap: 2rem;
  display: grid;
  grid-template-columns: 40% 40%;
}

.profe {
  margin-bottom: 5px;
  font-size: $texto1;
  font-weight: $textLight;
}

.ubicacion {
  display: flex;
}

.ubi {
  text-align: right;
  vertical-align: middle;
  margin-left: $espacio10;
  font-style: $textItali;
  font-size: $texto2;
}

.desc {
  padding: $espacio20;
  font-size: $titulo3;
  font-weight: $textRegular;
  text-align: $textoCenter;
}

.cont {
  display: grid;
  align-items: $textoCenter;
  padding: $espacio20;
  grid-template-columns: 20% 30%;
  gap: -10px;
  margin-right: -10px;
}

.iconos {
  gap: $espacio10;
}

.email {
  display: flex;
  padding: $espacio20;
  gap: $espacio10;
  text-align: $textoLef;
  vertical-align: middle;
  line-height: 25px;
}

// Section proyecto

#proyecto {
  //background-color: $colorBF;
  @include boxing(1rem, 880px);
  margin: 1rem;
}

.titu {
  text-align: $textoCenter;
  font-size: $titulo1;
  margin-bottom: $espacio10;
  padding-bottom: $espacio30;
}

.cont2 {
  text-align: justify;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 30px;
  padding: 10px;
  font-size: $texto2;
}


.proy1 {
  @include proy(1rem, 350px, $colorG);
  display: flex;
  flex-direction: column;
  background-color: $colorGF;
  box-shadow: 5px 5px 8px $colorG;
}

.proy2{
  @include proy(1rem, 250px, $colorG);
  display: flex;
  flex-direction: column;
  background-color: $colorGF;
  box-shadow: 5px 5px 8px $colorG;
}

.imgProy {
  margin-bottom: 15px;
  height: 100px;
  border-radius: 15px;
}

.imgProy2 {
  margin-bottom: 15px;
  height: 90px;
  width: 90PX;
  border-radius: 15px;
}

.card{
  display: grid;
  grid-template-columns: 30% 50%;
    grid-template-rows: repeat();
}

.imgProy-2 {
  margin-bottom: 15px;
  height: 250px;
  border-radius: 15px;
}

.desc-proy {
  font-size: $texto2;
  padding: $espacio10;
}

.tags {
  display: grid;
  grid-template-columns: 70% 70%;
  grid-template-rows: repeat();
  row-gap: 0px;
}

.tags2 {
  display: grid;
  grid-template-columns: 34% 34% 34%;
  grid-template-rows: repeat();
  row-gap: 0px;
}

.tags3{ 
   display: grid;
  grid-template-columns: 45% 45% 45%;
  grid-template-rows: repeat();
  row-gap: 5px;

}
.tag1 {
  @include tag(1px, $colorO, 100px, 15px);
}

.tag2 {
  @include tag(0.5px, $colorBO, 70px, 15px);
}


//sectiontecno
#tecno {
  @include boxing(2rem, 550px);
  background-color: $colorBF;
  margin: 1rem;
}
